body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

.header {
  justify-content: space-between;
  display: flex;
  background-color: #1f2937;
  height: 150px;
}

.logo {
  padding-top: 10px;
  margin-left: 100px;
  font-size: 10px;
  color: #f9faf8;
}
.links {
  padding-top: 10px;
  margin-right: 50px;
  font-size: 15px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 290px;
  height: auto;
  gap: 50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main {
  max-width: 400px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 100px;
}
.secondary {
  max-width: 400px;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 100px;
}

.button button {
  height: 30px;
  background-color: #3882f6;
  margin-left: 100px;
  border-color: #3882f6;
  padding: 10px 21x;
  border-radius: 5px;
}
.image img {
  height: 200px;
  width: 300px;
}

.info-header {
  padding: 70px 0px;
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  color: #1f2937;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 90px; 
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-image {
  width: 160px;
  height: 170px;
  border-color: #3882f6;
  border-width: 5px 5px;
  border-radius: 15px;
  border-style: solid;
}

.text {
  width: 160px;
  padding: 20px 5px;
  text-align: center;
}

.quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 490px;
  height: auto;
  padding-top: 100px;
  color: #1f2937;
  font-style: italic;
  font-size: 35px;
  background-color: #e5e7eb;
  padding-left: 100px;
  padding-right: 100px;
  font-stretch:narrower;
}

.style1 {
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
}

.call {
  width: 900px;
  height: 115px;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 10px 50px;
  box-sizing: border-box;
  border-radius: 6px;

  
}

.call-header {
  color: #f9faf8;
  font-weight: bold;
  font-size: 19px;
  margin: 0;
}
.style2 {
  margin: 0;
  color: #f9faf8;
  font-size: 19px;
  
}
.sign-up button {
  background-color: #3882f6;
  border-color: #f9faf9;
  color: #f9faf9;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  height: 75px;
  font-size: 18px;
  padding: 5px;

}
