body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

.header {
  justify-content: space-between;
  display: flex;
  background-color: #1f2937;
  height: 150px;
}

.logo {
  padding-top: 10px;
  margin-left: 100px;
  font-size: 10px;
  color: #f9faf8;
}
.links {
  padding-top: 10px;
  margin-right: 50px;
  font-size: 15px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 290px;
  gap: 50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main {
  max-width: 400px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 100px;
}
.secondary {
  max-width: 400px;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 100px;
}

button {
  background-color: #3882f6;
  margin-left: 100px;
  border-color: #3882f6;
  padding: 7px 14px;
}
img {
  height: 200px;
  width: 300px;
}
